<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>비밀번호 찾기</title>-->
<!--    <th:block th:replace="~{/css :: setCss(~{this::css} )}"></th:block>-->
<!--    <th:block th:fragment="setHead(head)"></th:block>-->
<!--    <th:block th:fragment="setFoot(foot)"></th:block>-->
<!--</head>-->

<!--<body>-->

<!--<th:block th:replace="~{/sementic/header :: setHead(~{this::head} )}"></th:block>-->

<!--<div class="whole_page_cover">-->
<!--    <div class="member_forgetPassword">-->

<!--        <h3>회원가입 시 등록한 이메일을 입력해주세요.</h3>-->
<!--        <form action="#" th:action="@{/forgot-password}" th:object="${member_tbl}" method="post">-->

<!--            <div class="member_forgetPassword_input">-->
<!--                <h4>이메일 입력:</h4>-->
<!--                <input th:field="*{email}" type="text" name="emailId">-->
<!--            </div>-->

<!--            <div class="member_forgetPassword_submit">-->
<!--                <input type="submit" value="메일전송">-->
<!--            </div>-->

<!--            <div class="member_forgetPassword_submit">-->
<!--                <input type="reset" value="다시쓰기">-->
<!--            </div>-->

<!--        </form>-->

<!--    </div>-->
<!--</div>-->

<!--<th:block th:replace="~{/sementic/footer :: setFoot(~{this::foot} )}"></th:block>-->

<!--</body>-->
<!--</html>-->