<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>게시글 목록</title>-->
<!--    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"-->
<!--          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">-->
<!--</head>-->
<!--<body>-->

<!--&lt;!&ndash;<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">&ndash;&gt;-->
<!--&lt;!&ndash;<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>&ndash;&gt;-->
<!--&lt;!&ndash;<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>&ndash;&gt;-->
<!--<ul class="nav">-->
<!--    <li>-->
<!--        <a data-toggle="modal" href="#loginModal">LOGIN</a>-->
<!--        <div class="modal fade" id="loginModal" role="dialog">-->
<!--            <div class="modal-dialog">-->
<!--                <div class="modal-content">-->
<!--                    <div class="modal-header">-->
<!--                        <button type="button" class="close" data-dismiss="modal">×</button>-->
<!--                        <h1 class="modal-title" th:align="center">로그인</h1>-->
<!--                    </div>-->
<!--                    <div class="modal-body">-->
<!--                        <th:block th:replace="~{/member/login :: setLogin(~{this::login} )}"></th:block>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </li>-->
<!--</ul>-->

<!--<div class="container">-->
<!--    <h1>게시판</h1>-->
<!--    <table class="table table-hover">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th scope="col">글 번호</th>-->
<!--            <th scope="col">제목</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr th:each="post : ${posts}">-->
<!--            <td th:text="${post.postId}" th:onclick="|javascript:modifyPostPage('${post.postId}')|"></td>-->
<!--            <td th:text="${post.title}" th:onclick="|javascript:modifyPostPage(${post.postId})|"></td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
<!--    <button type="button" class="btn btn-info btn-lg btn-block" id="addPostPageBtn" onclick="addPostPage()">게시글 작성</button>-->

<!--</div>-->
<!--<script>-->
<!--    const addPostPage = () => {-->
<!--        location.href = "/posts/add-post-page";-->
<!--    }-->
<!--    const modifyPostPage = (postId) => {-->

<!--        location.href = "/posts/add-post-page?state=update&postId=" + postId;-->
<!--    }-->
<!--</script>-->
<!--<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>-->

<!--</body>-->
<!--</html>-->